<h1>Upload a video</h1>
<p ng-show="queue.length == 0">You haven't uploaded any videos yet.</p>

<form enctype="multipart/form-data" file-upload="options">
    <input type="hidden" name="api_password" value="{{API_PASSWORD}}" />

    <div class="file" data-ng-show="queue.length == 0">
        <label class="file-label">
            <input class="file-input" type="file" name="file" id="wistia-file" />

            <span class="file-cta">
                <span class="file-icon">
                    <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                    Choose a video to upload…
                </span>
            </span>
        </label>
    </div>

    <div class="files">
        <div data-ng-repeat="file in queue">
            <!-- Embeded Wistia player -->
            <div ng-if="file.$response().result.hashed_id">
                <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
                    <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
                        <div class="wistia_embed wistia_async_{{file.$response().result.hashed_id}} videoFoam=true" style="height:100%;position:relative;width:100%">
                            <div class="wistia_swatch" style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                                <img src="https://fast.wistia.com/embed/medias/{{file.$response().result.hashed_id}}/swatch" style="filter:blur(5px);height:100%;object-fit:contain;width:100%;"
                                    alt="" onload="this.parentNode.style.opacity=1;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Thumbnail for the video -->
            <div data-ng-switch data-on="!!file.thumbnailUrl" ng-if="file.$state() != 'rejected' && !file.$response().result">
                <div class="preview" data-ng-switch-when="true">
                    <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>
                        <img data-ng-src="{{file.thumbnailUrl}}" alt="">
                    </a>
                </div>
                <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
            </div>

            <!-- Progress bar -->
            <progress ng-show="file.$state() == 'pending'" class="progress is-primary" value="{{file.$progress().loaded/file.$progress().total*100}}"
                max="100">
                Uploading {{file.$progress().loaded/file.$progress().total*100}}%...
            </progress>

            <!-- Upload and cancel buttons -->
            <div class="buttons has-addons" ng-if="file.$state() != 'rejected' && !file.$response().result">
                <button class="button is-primary" ng-click="file.$submit()" ng-disabled="file.$state() == 'pending'">
                    <i class="fas fa-upload"></i>&nbsp;Upload
                </button>

                <button class="button is-danger" ng-click="file.$cancel()">
                    <i class="fas fa-ban"></i>&nbsp;Cancel
                </button>
            </div>

            <!-- Error message -->
            <div data-ng-show="file.error" class="error has-text-danger">
                <div data-ng-switch data-on="file.$response().jqXHR.status">
                    <div class="has-text-centered">
                        <i class="fas fa-3x fa-ban"></i>
                    </div>

                    <span data-ng-switch-when="401">The configured API password is invalid. This is a configuration issue and must be resolved by the development team. Please check back later.</span>

                    <span data-ng-switch-default>{{file.$response().jqXHR.responseJSON.error || "A server error has occurred when trying to upload to Wistia. That's all we know"}}</span>
                </div>
            </div>

        </div>
    </div>
</form>